                            
  <main class="main">
    <div class="content">
      <div class="left-side">
        <div class="login-image">
            <img src="https://cdn-icons-png.freepik.com/512/7718/7718888.png" alt="Login Icon">
        </div>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <h2>Member Login</h2>
        <form>
            <div class="input-group">
                <label for="email"><i class="fa fa-envelope"></i></label>
                <input type="email" id="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <label for="password"><i class="fa fa-lock"></i></label>
                <input type="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <a href="#" class="forgot-link">Forgot Username / Password?</a>
        <a href="#" class="create-account">Create your Account</a>
      </div> 
    </div>
  </main> 


